
.item1 {
    border-bottom: 1px solid #d0d1d3;
    height: 2.5em;
    background-color: #ededed;
    color: #000;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding-left: 1em;
    transition: 0.5s all ease-out;
}
.item1:hover {
    width: 105%;
    height: 3em;
}
