main {
    /* border: solid 1px rgb(0, 208, 255); */
    width: 100%;
    height: 75vh;
    margin-top: 1em;
    background-image: url('../../assents/mainbg.png');
    animation: lefttoright 1s forwards 0s linear;
    background-size: cover;
    padding-top: 4em;
}
@keyframes lefttoright{
    0%{
        transform: translateX(-100%);
        }
    100%{
        transform: rotate(xx) translateX(0);
        }
}
.pleca1{
    /* border: solid 1px red; */
    width: 55%;
    height: 4em;
    background-color: #595a5c;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2em;
    animation: plecaanim 1.5s forwards 1 linear;
}
.pleca1 p{
    font-size: 40px;
}

@keyframes plecaanim{
    0%{
        transform: translateX(-100%);
        }
    100%{
        transform: rotate(xx) translateX(0);
        }
}
.pleca2{
    /* border: solid 1px red; */
    width: 50%;
    height: 5em;
    background-color: #595a5c;
    color: white;
    font-size: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2em;
    padding: 1em;
    margin-top: 2em;
    animation: plecaanim 1.5s forwards 1 linear;
}
.pleca2 p{
    font-size: 40px;
}

