.seccionCentro {
    /* border: solid 1px blue; */
    width: 80%;
    padding: 2em;
}
@keyframes dtu{
    0%{
        transform: translateY(100%);
        opacity: 0;
        }
    100%{
        transform: rotate(xx) translateY(0);
        opacity: 1;
        }
}

.seccionCentro{
    animation: dtu 1s forwards 0s ease-in-out;
}
